<h1>Add a new cyclist</h1>

<div class="form">
<form method="post" action="/cyclists">
  <label for ="name">Name:</label>
  <input id="name" type="text" name="name" />

  <input type="submit" value="Add cyclist" />
</form>
</div>
