<form method="post" action="/routes/<%= @route.id %>">
  <label for="title-field">Title:</label>
  <input
  type="text"
  name="title"
  id="title-field"
  value="<%= @route.title %>"
  />

  <label for="distance-field">Distance:</label>
  <input
  type="text"
  name="distance"
  id="distance-field"
  value="<%= @route.distance %>"
  />

  <label for="elevation-field">Elevation:</label>
  <input
  type="text"
  name="elevation"
  id="elevation-field"
  value="<%= @route.elevation %>"
  />

  <input type='submit' value="Edit Route">
</form>
