<div class="welcome">
  <h1>All routes</h1>
</div>

<div class="list">

    <div class="items">
  <% @routes.each do |route|  %>
    <div class="items-box">
    <div class="stats-cell"><%= route.title() %></div>
    <div class="box-image"> <img src="/images/route.png"></div>
    <a href="/routes/<%= route.id %>"><button>Go to route details</button></a>
  </div>
  <% end %>
    </div>

</div>
