<h1>Add a new route</h1>

<div class="form">
  <form method="post" action="/routes">
    <label for ="title">Title:</label>
    <input id="title" type="text" name="title" />

    <label for ="distance">Distance:</label>
    <input id="distance" type="text" name="distance" />

    <label for ="elevation">Elevation:</label>
    <input id="elevation" type="text" name="elevation" />

    <input type="submit" value="Add route" />
  </form>
</div>
