<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Biked</title>
      <link rel="stylesheet" type="text/css" href="/style.css">
  </head>
  <body>
<nav>
  <p><a href="/cyclists">All cyclists</a></p>
  <p><a href="/routes">All routes</a></p>
  <p><a href="/rides">All rides</a></p>
</nav>

<%= yield %>

  </body>
</html>
