<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Biked</title>
      <link href="https://fonts.googleapis.com/css?family=EB+Garamond|Roboto" rel="stylesheet">
      <link rel="stylesheet" type="text/css" href="/styles/style.css">
      <link rel="stylesheet" type="text/css" href="/styles/forms.css">
      <link rel="stylesheet" type="text/css" href="/styles/menu.css">

  </head>
  <body>
  <div class="navbar">

    <div class="nav"><a href="/">Home</a></div>

    <div class="dropdown">
      <div class="dropbtn">Cyclists</div>
      <div class="dropdown-content">
        <a href="/cyclists">See all cyclists</a>
        <a href="/cyclists/new">Add new cyclist</a>
      </div>
    </div>

    <div class="dropdown">
      <div class="dropbtn">Rides</div>
      <div class="dropdown-content">
        <a href="/rides">See all rides</a>
        <a href="/rides/new">Add new ride</a>
      </div>
    </div>


    <div class="dropdown">
      <div class="dropbtn">Routes</div>
      <div class="dropdown-content">
        <a href="/routes">See all routes</a>
        <a href="/routes/new">Add new route</a>
      </div>
    </div>

    <div class="nav"><a href="/leaderboards">Leaderboards</a></div>
  </div>

  <div class="header-image">

  </div>

  <main class="flex">
    <%= yield %>
  </main>

  <footer>

    <div class="footer-grid">
      <div class="contact">
        <a href="mailto:cconnachan@gmail.com">
          <img src="/images/email.png" height="28" width="28">
        </a>
      </div>
      <div class="contact" height="28" width="28">
        <a href="http://www.twitter.com/crabbitcopy">
          <img src="/images/twitter.png" height="28" width="28">
        </a>
      </div>
      <div class="contact">
        <a href="http://www.instagram.com/crabbitclaire">
          <img src="/images/instagram.png" height="28" width="28">
        </a>
      </div>
      <div class="contact">
        <a href="http://www.linkedin.com/in/claireconnachan/">
          <img src="/images/linkedin.png" height="28" width="28">
      </a>
      </div>
    </div>

  </footer>
  </body>
</html>
