<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Biked</title>
      <link href="https://fonts.googleapis.com/css?family=EB+Garamond|Roboto" rel="stylesheet">
      <link rel="stylesheet" type="text/css" href="/styles/style.css">

  </head>
  <body>
  <div class="navbar">
    <div class="nav item1"><a href="/">Home</a></div>
    <div class="nav item2"><a href="/cyclists/new">Join</a></div>
    <div class="nav item3"><a href="/rides/new">Add ride</a></div>
    <div class="nav item4"><a href="/routes/new">Add route</a></div>
    <div class="nav item5"><a href="/cyclists">Cyclists</a></div>
    <div class="nav item6"><a href="/routes">Routes</a></div>
    <div class="nav item7"><a href="/rides">Rides</a></div>
  </div>
  <div class="header_image">
  </div>
<main class="flex flex--row">
<%= yield %>
</main>
<footer>
</footer>
  </body>
</html>
