<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Biked</title>
      <link href="https://fonts.googleapis.com/css?family=EB+Garamond|Roboto" rel="stylesheet">
      <link rel="stylesheet" type="text/css" href="/styles/style.css">

  </head>
  <body>
  <div class="navbar">
    <div class="nav item1"><a href="/">Home</a></div>
    <div class="nav item2"><a href="/cyclists/new">Add cyclist</a></div>
    <div class="nav item3"><a href="/rides/new">Add ride</a></div>
    <div class="nav item4"><a href="/routes/new">Add route</a></div>
    <div class="nav item5"><a href="/cyclists">Cyclists</a></div>
    <div class="nav item6"><a href="/routes">Routes</a></div>
    <div class="nav item7"><a href="/rides">Rides</a></div>
    <div class="nav item8"><a href="/leaderboards">Leaderboards</a></div>
  </div>

  <div class="header-image">
  </div>

  <main class="flex">
    <%= yield %>
  </main>

  <footer>

    <div class="footer-grid">
      <div class="contact">
        <a href="mailto:cconnachan@gmail.com">
          <img src="/images/email.png" height="28" width="28">
        </a>
      </div>
      <div class="contact" height="28" width="28">
        <a href="http://www.twitter.com/crabbitcopy">
          <img src="/images/twitter.png" height="28" width="28">
        </a>
      </div>
      <div class="contact">
        <a href="http://www.instagram.com/crabbitclaire">
          <img src="/images/instagram.png" height="28" width="28">
        </a>
      </div>
      <div class="contact">
        <a href="http://www.linkedin.com/in/claireconnachan/">
          <img src="/images/linkedin.png" height="28" width="28">
      </a>
      </div>
    </div>

  </footer>
  </body>
</html>
