/* Form and button styling */

.form {
  display: flex;
  justify-content: center;
}

.buttons  {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}

form {
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 400px;
}

label {
  font-family: 'Roboto', sans-serif;
  font-size: 1.25em;
}

input[type=text] {
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #3AAFA9;
    border-radius: 4px;
    font-family: 'EB Garamond', serif;
    font-size: 1.25em;
    width: 100%;
    height: 50px;
}

input[type=text]:focus {
    border: 3px solid #2B7A78;

}

input[type=submit] {
    background-color: #2B7A78;
    border: 2px solid #3AAFA9;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 20px;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    font-size: 1.25em;

}

input[type=submit]:hover {
  background-color: #DEF2F1;
    color: black;
}

input[type=date] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid #3AAFA9;
  border-radius: 4px;
  font-family: 'EB Garamond', serif;
  font-size: 1.25em;
  height: 50px;
}

select {
  padding: 20px;
  margin: 8px 0;
  height: 50px;
  border: 2px solid #3AAFA9;
  border-radius: 4px;
  font-family: 'EB Garamond', serif;
  font-size: 1.25em;
}
