
<p>Route titles:</p>
<p><% @routes.each do |route| %>
<%= route %></p>
<% end %>








<h1>Route Information</h1>


<p>Title: <%= @route.title() %>
<p>Distance: <%= @route.distance() %>
<p>Elevation: <%= @route.elevation()%></p>
<p>Logged cycles: <%= @route.total_cyclists()%></p>
<p>Average ride time: <%= ConvertTime.hours(@route.average_time) %> hours OR <%= ConvertTime.days(ConvertTime.hours(@route.average_time)) %> days if you cycle a 7 hour day :)</p>
<p>Cycled by: </p>
  <p><% @cyclists.each do |cyclist| %>
  <%= cyclist.name %></p>
  <% end %>

<h1>Route Leaderboard</h1>
<% num = 0 %>
<% @route.leaderboard.each do |route| %>
  <%=route.get_cyclist.name + " in" if route != nil && num < 3 %>
  <%=ConvertTime.hours(route.completion_time).to_s + " hours" if route != nil && num < 3 %>
  <% num +=1 %>
  <p>
<% end %>




<div class="cyclist-leaderboard">

  <h1>Cyclists' Leaderboard!</h1>

  <p>Most miles:
  <%= Cyclist.most_miles().first.name %> with a whopping <%= Cyclist.most_miles().first.total_miles %> miles clocked up.</p>

  <p>Most climb:
  <%= Cyclist.most_climb().first.name %> with <%= Cyclist.most_climb().first.total_climb %> feet to their name.</p>

  <p>Most rides: <%= Cyclist.most_rides().first.name %> with <%= Cyclist.most_rides().first.total_routes %> routes checked off.</p>
  <p>

</div>

<h1>All logged rides</h1>
<a href="/rides/new">Add a new ride!</a></p>

<% @rides.each do |ride|  %>
  <p>Logged by: <%= ride.get_cyclist.name() %></p>
  <p>Route cycled: <%= ride.get_route.title() %> </p>
  <p>Date logged: <%= ride.date_logged() %></p>
  <p><a href="/rides/<%= ride.id %>">Go to ride</a></p>
  <hr/>
<% end %>



<h1>Route Highlights!</h1>
<p>Most popular: <%= Route.most_popular.title %> with <%= Route.most_popular.total_cyclists %> logged rides.</p>
<p>Longest: <%= Route.longest.title %> at <%= Route.longest.distance %> miles. </p>
<p>Highest: <%= Route.highest.title %> with <%= Route.highest.elevation %> feet to climb.</p>




<h1>All routes</h1>
<p><a href="/routes/new">Add a new route</a></p>

<% @routes.each do |route|  %>
  <p>Title: <%= route.title() %></p>
  <p>Times logged: <%= route.total_cyclists() %> </p>
  <p><a href="/routes/<%= route.id %>">Go to route information</a></p>
  <p></p>
  <hr/>
<% end %>



    <p></p>
      <form method="get" action="/routes/<%= @route.id %>/edit">
      <input type="submit" value="Edit route" />
    </form><p></p>

<form method="post" action="/routes/<%= @route.id %>/delete">
     <input type="submit" value="Delete route" />
   </form>
