/* structure of website */

div {
  /* border: 2px solid black; */
  /* font-family: 'EB Garamond', serif;
  font-size: 1em; */
}

body {
  margin: 0;
}

h1 {
  font-family: 'Roboto', sans-serif;
  font-size: 2em;
  background: #DEF2F1;
  padding-left: 10px;
}

button {
  background-color: #2B7A78;
  border: 2px solid #3AAFA9;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin-top: 20px;
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
  font-size: 1.25em;
  width: 100%;
  }

  button:hover {
    background-color: #DEF2F1;
      color: black;
  }
}

p {
  font-family: 'EB Garamond', serif;
  font-size: 2em;
}

a:link {
  text-decoration: none;
  color: #265077;
}

a:hover {
  color: purple;
}

a:visited {
  color: #33266E;
}

footer {
  height: 150px;
  background-color: #3AAFA9;
  color: #DEF2F1;
  margin-top: 50px;
  font-family: 'EB Garamond', serif;
  font-size: 1.25em;
  padding: 50px;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

/* footer divs  */

.footer-grid {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.contact {
  padding: 10px;
  margin: 10px;
  font-family: 'EB Garamond', serif;
  font-size: 1em;
  align-items: center;
}

/* navigation */

.navbar {
  display: flex;
  justify-content: space-around;
  background: #3AAFA9;
  color: black;
  font-size: 1.5em;
  text-align: center;
  padding: 10px;
  font-family: 'Roboto', sans-serif;
  color: #DEF2F1;
}

.header-image {
  background-image: url("/images/header_image.jpg");
  width: 100%;
  height: 200px;
  background-position: 0% 49%;
}


/* Form and button styling */

.form {
  display: flex;
  justify-content: center;
}

.buttons  {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}

form {
  /* background: purple; */
  font-family: 'Roboto', sans-serif;
  /* padding: 25px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 400px;
}

label {
  font-family: 'Roboto', sans-serif;
  font-size: 1.25em;
}

input {
    /* width: 80%; */
}

input[type=text] {
    /* width: 80%; */
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #3AAFA9;
    border-radius: 4px;
    font-family: 'EB Garamond', serif;
    font-size: 1.25em;
    width: 100%;
    height: 50px;
}

input[type=text]:focus {
    border: 3px solid #2B7A78;

}

input[type=submit] {
    background-color: #2B7A78;
    border: 2px solid #3AAFA9;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 20px;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    font-size: 1.25em;

}

input[type=submit]:hover {
  background-color: #DEF2F1;
    color: black;
}

input[type=date] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid #3AAFA9;
  border-radius: 4px;
  font-family: 'EB Garamond', serif;
  font-size: 1.25em;
  height: 50px;
}

select {
  padding: 20px;
  margin: 8px 0;
  height: 50px;
  /* box-sizing: border-box; */
  border: 2px solid #3AAFA9;
  border-radius: 4px;
  font-family: 'EB Garamond', serif;
  font-size: 1.25em;
}


/* Main box for templates to be inserted */

.flex {
  display: flex;
  flex-direction: column;
}

.grid {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

.cell {
  width: 500px;
  padding: 10px;
  margin: 10px;
  font-family: 'EB Garamond', serif;
  font-size: 1em;
}

/* .front-page {
  display: flex;
  flex-direction: row;
} */

/* index.erb divs */
.welcome {
  display: flex;
  flex-direction: row;
  background: #DEF2F1;
}

/* .latest-rides {
  display: flex;
  flex-direction: column;
} */

.route {
  display: flex;
  flex-direction: column;
  font-family: 'EB Garamond', serif;
  font-size: 1em;
}

.copy {
  font-family: 'EB Garamond', serif;
  font-size: 1.5em;
  padding-top: 10px;
  padding-bottom: 10px;
}

.ride-box {
  font-family: 'EB Garamond', serif;
  font-size: 1.5em;
}

.image {
  width: 500px;
  display: flex;
  flex-direction: row;
}

/* Cyclist profile divs */

.statistics-cell {
  display: flex;
  flex-direction: column;
}

.stats-cell {
  display: flex;
  flex-direction: row;
  background: #A8D0E6;
  height: 50px;
  margin-bottom: 20px;
  font-family: 'EB Garamond', serif;
  font-size: 1.5em;
  line-height: 50px;
  text-indent: 10px;
}

/* All cyclist-ride-route view */

.items {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 20px;
  justify-content: center;
}

.list {
  display: flex;
  flex-direction: column;
}

.items-box {

  padding: 10px;
  margin: 20px;
  width: 300px;
  font-family: 'EB Garamond', serif;
  font-size: 1.25em;
  border: 2px solid #3AAFA9;
}

.box-image {
  text-align: center;
}

/* Leaderboards  */

.leaderboard-box {

  padding: 10px;
  margin: 20px;
  width: 300px;
  font-family: 'EB Garamond', serif;
  font-size: 1.25em;
  border: 2px solid #3AAFA9;
}

.leaderboard-cell {
  display: flex;
  flex-direction: row;
  background: #A8D0E6;
  height: 50px;
  margin-bottom: 20px;
  font-family: 'EB Garamond', serif;
  font-size: 1.1em;
  line-height: 50px;
  text-indent: 10px;
}
