/* structure of website */

div {
  /* border: 2px solid black; */
  /* font-family: 'EB Garamond', serif;
  font-size: 1em; */
}

body {
  margin: 0;
}

h1 {
  font-family: 'Roboto', sans-serif;
  font-size: 2em;
  background: #DEF2F1;
  padding-left: 10px;
}


p {
  font-family: 'EB Garamond', serif;
  font-size: 2em;
}

a {
  text-decoration: none;
}

footer {
  height: 150px;
  background-color: #3AAFA9;
  color: #DEF2F1;
  margin-top: 50px;
  font-family: 'EB Garamond', serif;
  font-size: 1.25em;
  padding: 50px;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

/* navigation */

.navbar {
  display: flex;
  justify-content: space-around;
  background: #3AAFA9;
  color: black;
  font-size: 1.5em;
  text-align: center;
  padding: 10px;
  font-family: 'Roboto', sans-serif;
  color: #DEF2F1;
}

.header-image {
  background-image: url("/images/header_image.jpg");
  width: 100%;
  height: 200px;
  background-position: 0% 49%;
}


/* Form and button styling */

.form {
  display: flex;
  justify-content: center;
}

form {
  background: purple;
  /* width: 50%; */
  font-family: 'Roboto', sans-serif;
  padding: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 400px;
}

label {
  font-family: 'Roboto', sans-serif;
  font-size: 1.25em;
}

input {
    width: 80%;
}

input[type=text] {
    /* width: 80%; */
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #3AAFA9;
    border-radius: 4px;
}

input[type=text]:focus {
    border: 3px solid #2B7A78;
}

input[type=submit] {
    background-color: #2B7A78;
    /* width: 80%; */
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 20px;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    font-size: 1.25em;
}

input[type=date] {
  /* width: 80%; */
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid #3AAFA9;
  border-radius: 4px;
  font-family: 'EB Garamond', serif;
  font-size: 1em;
}

select {
  /* width: 80%; */
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid #3AAFA9;
  border-radius: 4px;
  font-family: 'EB Garamond', serif;
  font-size: 1em;
}


/* Main box for templates to be inserted */

.flex {
  display: flex;
  flex-direction: column;
}

.grid {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.cell {
  width: 500px;
  padding: 10px;
  margin: 10px;
  font-family: 'EB Garamond', serif;
  font-size: 1em;
}

/* .front-page {
  display: flex;
  flex-direction: row;
} */

/* index.erb divs */
.welcome {
  display: flex;
  flex-direction: row;
  background: #DEF2F1;
}

/* .latest-rides {
  display: flex;
  flex-direction: column;
} */

.route {
  display: flex;
  flex-direction: column;
  font-family: 'EB Garamond', serif;
  font-size: 1em;
}

.copy {
  font-family: 'EB Garamond', serif;
  font-size: 1.5em;
}

.ride-box {
  font-family: 'EB Garamond', serif;
  font-size: 1.5em;
}

.image {
  width: 100%;
  display: flex;
  flex-direction: row;
}

/* footer divs  */

.footer-grid {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.contact {
  padding: 10px;
  margin: 10px;
  font-family: 'EB Garamond', serif;
  font-size: 1em;
  align-items: center;
}
