.navbar {
  display: flex;
  justify-content: space-around;
  background: white;
  color: black;
  font-size: 1.5em;
  text-align: center;
  padding: 10px;

}

.header_image {
  background-image: url("/images/header_image.jpg");
  width: 100%;
  height: 200px;
  background-position: 0% 49%;
}

a {
  text-decoration: none;
}
