div {
  border: 2px solid black;
  /* font-family: 'EB Garamond', serif;
  font-size: 1em; */
}

body {
  margin: 0;
}

.navbar {
  display: flex;
  justify-content: space-around;
  background: #3AAFA9;
  color: black;
  font-size: 1.5em;
  text-align: center;
  padding: 10px;
  font-family: 'Roboto', sans-serif;
}

h1 {
  font-family: 'Roboto', sans-serif;
  font-size: 2em;
  background: #DEF2F1;
  padding-left: 10px;
}

.headline {
  background: #DEF2F1;
}

p {
  font-family: 'EB Garamond', serif;
  font-size: 2em;
}


.header-image {
  background-image: url("/images/header_image.jpg");
  width: 100%;
  height: 200px;
  background-position: 0% 49%;
}

a {
  text-decoration: none;
}

.flex {
  display: flex;
  flex-direction: column;
}

.grid {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.cell {
  width: 500px;
  padding: 10px;
  margin: 10px;
  font-family: 'EB Garamond', serif;
  font-size: 1em;
}

.front-page {
  display: flex;
  flex-direction: row;
}

/* index.erb divs */
.welcome {
  display: flex;
  flex-direction: row;
  background: #DEF2F1;
}

.latest-rides {
  display: flex;
  flex-direction: column;
}

.route {
  display: flex;
  flex-direction: column;
  font-family: 'EB Garamond', serif;
  font-size: 1em;
}

.image {
  /* background-image: url("/images/bicycle.png"); */
  height: 100px;

  /* background-position: 100% 49%; */
}




footer {
  height: 150px;
  background-color: #3AAFA9;
  margin-top: 50px;
  border: 1px solid rebeccapurple;
}
