
<h1>All logged rides</h1>
<a href="/rides/new">Add a new ride!</a></p>

<% @rides.each do |ride|  %>
  <p>Logged by: <%= ride.get_cyclist.name() %></p>
  <p>Route cycled: <%= ride.get_route.title() %> </p>
  <p>Date logged: <%= ride.date_logged() %></p>
  <p><a href="/rides/<%= ride.id %>">Go to ride</a></p>
  <hr/>
<% end %>
