<div class="welcome">
  <h1>All rides</h1>
</div>

<div class="list">

    <div class="items">
  <% @rides.each do |ride|  %>
    <div class="items-box">
    <div class="stats-cell"><%= ride.get_cyclist.name() %></div>
    <div class="stats-cell"><%= ride.get_route.title() %></div>
    <div class="stats-cell"><%= ride.date_logged() %></div>
    <a href="/rides/<%= ride.id %>"><button>Go to ride</button></a>
  </div>
  <% end %>
    </div>

</div>
