<h1>Add a ride!</h1>

<div class="form">
<form action="/rides" method="post">
  <label>
  Select a cyclist:
    <select name="cyclist_id">
      <% for cyclist in @cyclists %>
      <option value="<%= cyclist.id %>"><%= cyclist.name %></option>
      <% end %>
    </select>
  </label>

  <label>
    Select a route:
    <select name="route_id">
      <% for route in @routes %>
      <option value="<%= route.id %>"><%= route.title %></option>
      <% end %>
    </select>
  </label>

  <label for ="date-logged">Date logged:</label>
  <input id="date-logged" type="date" name="date_logged" />

  <label for ="time-taken">Time to complete (mins):</label>
  <input id="time-taken" type="text" name="completion_time" />

  <input type='submit' value="Add ride">
</form>
</div>
